extends _template-layout
include ../includes/products

block nav
	- var active = "index"

block main
	main.main
		.page-header.breadcrumb-wrap
			.container
				.breadcrumb
					a(href="/index.html", rel="nofollow") Home
					span
					a(href=section_link, rel="nofollow") #{section_name}
					span
					| #{products[sku].product_name}

		section.mt-50.mb-50
			.container
				.row
					.col-lg-12
						.product-detail.accordion-detail
							.row.mb-50
								.col-md-6.col-sm-12.col-xs-12
									.detail-gallery
										span.zoom-icon
											i.fi-rs-search
										// MAIN SLIDES
										.product-image-slider
											figure.border-radius-10
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_1.jpg", alt="Framed blackwork embroidery piece of the " + products[sku].product_name)
											figure.border-radius-10
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_2.jpg", alt="Close up photo of the " + products[sku].product_name)
											figure.border-radius-10
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_3.jpg", alt="Square version of the  " + products[sku].product_name)

										// THUMBNAILS
										.slider-nav-thumbnails.pl-15.pr-15
											div
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_1.jpg", alt="Thumbnail of image 1")
											div
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_2.jpg", alt="Thumbnail of image 2")
											div
												img(src="/assets/bwp/imgs/shop/products/" + sku + "_3.jpg", alt="Thumbnail of image 3")

									// End Gallery
								.col-md-6.col-sm-12.col-xs-12
									.detail-info
										h2.title-detail #{products[sku].product_name}
										.product-detail-rating
											.product-rate-cover.text-end
												.product-rate.d-inline-block
													.product-rating(style="width:"+ percent + "%")
												span.font-small.ml-5.text-muted  (#{products[sku].reviews.length})
										//-.clearfix.product-price-cover
											.product-price.primary-color.float-left
												ins
													span.text-brand $120.00
												ins
													span.old-price.font-md.ml-15 $200.00
													span.save-price.font-md.color3.ml-15 25% Off
										.bt-1.border-color-1.mt-15.mb-15
										.short-desc.mb-30
											p= products[sku].desc_short
										div(class="product_sort_info font-xs mb-30")
											ul
												li.mb-10
													i.fi-rs-mobile.mr-5
													| View pattern on mobile or tablet
												li.mb-10
													i.fi-rs-print.mr-5
													| Printable pattern
												li
													i.fi-rs-cloud-download.mr-5
													| Instant download
										.bt-1.border-color-1.mt-30.mb-30
										.detail-extralink
											a.btn(href= products[sku].etsy_product_page) Purchase on Etsy.com
										ul.product-meta.font-xs.color-grey.mt-50
											li Availability:
												span.in-stock.text-success.ml-5 In Stock

							//- DESCRIPTION BLOCKS
							.row
								.col-lg-10.m-auto.entry-main-content
									h2.section-title.style-1.mb-30 Pattern details
									.description.mb-50

										ul.product-more-infor.mt-30
											li
												span
													strong Pattern difficulty
												if products[sku].difficulty
													| #{products[sku].difficulty}
												else
													| Easy / beginner
											li
												span
													strong Fabric required
												if products[sku].fabric
													| #{products[sku].fabric}
												else
													| White 14 count Aida or 28 count evenweave

											li
												span
													strong Finished size
												| #{products[sku].size}
											li
												span
													strong No. of threads required
												| #{products[sku].threads}. (Exact DMC numbers provided)

										hr.wp-block-separator.is-style-wide
										!= products[sku].desc_long

									h2.section-title.style-1.mb-30 What you will receive
									.description.mb-50
										!= products[sku].get

									.description.mb-50
										a.btn(href= products[sku].etsy_product_page) Purchase on Etsy.com

									h3.section-title.style-1.mb-30 Terms
									p This listing is for an INSTANT DOWNLOAD pattern only! You WILL NOT receive a finished stitch piece.

									p You will need Adobe reader to open the files, which you can get free from get.adobe.com/reader.

									p The digital files will be delivered instantly via a download link once payment is processed on etsy.com. The pattern can also be accessed at any time through your "Purchases" folder on etsy.com. Due to the nature of digital files, no refunds can be given, thanks for understanding. You are responsible for downloading and printing the pattern - this is ONLY A DIGITAL FILE.

									p This is a blackwork embroidery pattern only. Threads, material fabric, needles, scissors etc. are NOT included.
									p All my designs are original and the stitched versions in the photos are stitched by me before being listed.
									p Please only use the pattern for personal use. Please do not distribute any copies of the pattern. Thank you.
									//- SHARE links
									//-.social-icons.single-share
										ul.text-grey-5.d-inline-block
											li
												strong.mr-10 Share this:
											li.social-facebook
												a(href="#")
													img(src="/assets/imgs/theme/icons/icon-facebook.svg", alt="")
											li.social-twitter
												a(href="#")
													img(src="/assets/imgs/theme/icons/icon-twitter.svg", alt="")
											li.social-instagram
												a(href="#")
													img(src="/assets/imgs/theme/icons/icon-instagram.svg", alt="")
											li.social-linkedin
												a(href="#")
													img(src="/assets/imgs/theme/icons/icon-pinterest.svg", alt="")

									//- REVIEWS
									-if(products[sku].reviews.length > 0)
										h3.section-title.style-1.mb-10.mt-30 Reviews (#{products[sku].reviews.length})

										.comments-area.style-2
											.row
												.col-lg-8
													h4.mb-30 Customer reviews of this item from Etsy.com

													.comment-list
														each review in products[sku].reviews.reverse()
															+review_element(review)


							//- RELATED ITEMS
							-if(products[sku].related.length > 0)
								.row.mt-60
									.col-12
										h3.section-title.style-1.mb-30 Related products
									.col-12
										.row.related-products
											each _product_sku in products[sku].related
												+related_product_element(products[_product_sku].product_name, _product_sku, products[_product_sku].url, products[_product_sku].percent, products[_product_sku].label, products[_product_sku].reviews.length)

block script_additional
	script(src='/assets/js/plugins/jquery.elevatezoom.js')
	script(src='/assets/js/shop.js?v=3.3')